<li>
    <p id="comment-content">
        <u>
            <%= comment.content %>
        </u>
        <small id="comment-user-name">
            <%= comment.user.name %>
        </small>
    </p>
</li>