<header>
    <h1>CODEIAL</h1>

    <ul>
        <% if (locals.user){ %>
            <li><userName><%= user.name %></userName></li>
            <li>
                <button>
                    <a href="/user/sign-out">Sign Out</a>
                </button>
            </li>
        <% } else{ %>
            <li>
                <button>
                    <a href="/user/sign-in">Sign In</a>
                </button>
            </li>

            <li>
                <button>
                    <a href="/user/sign-up">Sign Up</a>
                </button>
            </li>
        <% } %>
    </ul>
</header>