header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: blue;
    margin: 0;
    padding: 10px;
    color: white;

    ul{
        list-style: none;
        display: flex;
        gap: 10px;
        align-items: baseline;
        justify-content: space-between;

        a{
            color: white;

        }
        a:link { text-decoration: none; }

        a:visited { text-decoration: none; }

        a:hover { text-decoration: none; }

        a:active { text-decoration: none; }

        li{
            userName{
                font-size: xx-large;
                font-family: cursive;
            }
            button{
                font-size: larger;
                background-color: rgba(0, 0, 165, 0.644);
                height: 50px;
                width: 100px;
                border-radius: 25px 5px 25px 5px;

            }
        }
    }
}