.home{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#feed-posts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-left: 5vw;
    font-size: larger;
    // border-right: 5px solid black;
}

#new-post-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-post{
    background-image: url(../images/delete.svg);
}
textarea{
    border-radius: 20px;
    height: 50px;
    padding: 16px;
}

input{
    height: 40px;
    width: 64px;
    border-radius: 5px;
    margin: 5px;
}

#posts-list-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#posts-list{
    display: flex;
    flex-direction: column;
    list-style:none;
    padding-left: 0;
}

#post-content{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 20px;
    width: 500px;
    border: 5px solid salmon;
    border-width: 0 0 5px 5px;
    padding: 2px;
    padding-left: 5px;
    border-radius: 0 0 0 15px;
}

#user-post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

#post_user_name{
    display: block;
    font-size: small;
    height: 0;

}
.post-comments{
    display: block;
}
.post-comments form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
    gap: 10px;
}
#submit-comment{
    width: 100px;
}
#comment-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

#user-friends{
    display: flex;
    flex-direction: column;
    // border-left: 5px solid black;
}