header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: blue;
  margin: 0;
  padding: 10px;
  color: white; }
  header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: space-between; }
    header ul a {
      color: white; }
    header ul a:link {
      text-decoration: none; }
    header ul a:visited {
      text-decoration: none; }
    header ul a:hover {
      text-decoration: none; }
    header ul a:active {
      text-decoration: none; }
    header ul li userName {
      font-size: xx-large;
      font-family: cursive; }
    header ul li button {
      font-size: larger;
      background-color: rgba(0, 0, 165, 0.644);
      height: 50px;
      width: 100px;
      border-radius: 25px 5px 25px 5px; }
